<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ol>
        {% for tour in data %}
            <li>
                <h2>{{tour.title}}</h2>
                <p>{{tour.price_value}} {{tour.price_currency}}</p>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
